{% extends "layout.html" %}
{% block body %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1542137722061-efd1cbdf156c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>Dashboard</h1>
                    <h2 class="subheading">This is my dashboard and no one has access to this dashboard yaaa</h2>
                    <span class="meta">
                        Posted by
                        <a href="#!">Start Bootstrap</a>
                        on August 24, 2021
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<table class="table table-hover">
<div class="col-md-10 col-lg-8 col-xl-7">
<a href="edit/0"><button class="btn btn-primary text-uppercase" style = "margin-left:10px  " >Add a new post</button></a>
<a href="/logout"><button class="btn btn-primary text-uppercase" style = "margin-left:10px  " >Logout</button></a>
</div>
    <!-- style = "margin-right : 50% " -->
    <thead>
      <tr>
        <th>Sno</th>
        <th>Post</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>

    {% for post in post %}
      <tr>
        <td>{{post.sno}}</td>
        <td>{{post.title}}</td>
        <td><a href="edit/{{post.sno}}"><button class="btn btn-primary text-uppercase">Edit</button></td>
        <td><a href="delete/{{post.sno}}"><button class="btn btn-primary text-uppercase">Delete</button></td>

      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}

        
